#skills_list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 8px;
}
#skills_list ul{
    margin-right: 40px;
}
li{
    display: flex;
    align-items: center;
}
li span::before{
    white-space: pre;
    content: " ";
    
}
.first_column li{
    display: block;
}

@media only screen and (min-width:360px){
    #skills_list{
        flex-direction: row;
        margin-top: 0;
        
    }

}