#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    container-type: inline-size;
}

#about > h2 {
    margin: 0;
    text-align: center;
}

.about__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 100%;
}

.about__text {
    width: 100%;
}

#about img {
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

em {
    padding: 0 4px;
}

@supports (container-type: inline-size) {
    @container (min-width: 30rem) {
        .about__body {
            flex-direction: row;
            align-items: center;
        }

        

        .about__text {
            flex: 1;
        }
    }
}

