footer{
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;    
}
footer div{
    flex-basis:0;   
}
footer div:first-child{
    flex-grow: 1;
}
footer div:last-child{
    flex-grow: 2;
}

.socials ul li, .links ul li{
    display: flex;
    align-items: center;
}
li a::before{
    white-space: pre ;
    content: " ";
}
@media only screen and (min-width:768px){
    footer div{
        flex-basis:50%;   
    }
    
}



